@media (max-width: 1456px) {
  .product__wrapper {
    max-width: 100%;
  }

  .selection-slider {
    box-sizing: border-box;
    max-width: 100%;
    padding: 0 30px;
  }

  .header__user-menu {
    right: 0;
  }
}
@media (max-width: 1399px) {
  .header {
    position: relative;
  }
  .header__main {
    padding: 0 20px;
  }
  .header__main-right-nav {
    position: absolute;
    bottom: 17px;
    right: 20px;
    border-right: 0;
  }
  .header__main-right-link {
    margin-right: 12px;
  }
  .header__main-right-link:last-child {
    margin-right: 0;
  }
  .header__nav {
    padding: 0 20px;
  }

  .product__slider {
    height: 500px;
  }
  .product__content {
    margin: 0 12px;
  }
  .product-bottom {
    flex-direction: column-reverse;
    margin-top: 40px;
  }
  .product-question {
    width: 100%;
    margin-top: 40px;
  }
  .product-question__top-title {
    display: none;
  }
  .product-question__top-title-mobile {
    display: block;
  }
  .product-question__top-button {
    width: 190px;
    height: 43px;
    background: var(--greyscale-grey-6);
    font-size: 16px;
    font-weight: 700;
    color: var(--greyscale-black, #222);
  }
  .product-question__question {
    margin-top: 8px;
  }
  .product-question__info {
    display: flex;
    align-items: center;
    margin-top: 24px;
  }
  .product-question__info-name {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.2px;
  }
  .product-question__info-date {
    margin-left: 12px;
    font-size: 14px;
    line-height: 110%;
    letter-spacing: -0.14px;
    text-transform: lowercase;
  }
  .product-question__answer {
    margin-left: 16px;
    line-height: 110%;
    letter-spacing: -0.16px;
    color: var(--greyscale-grey-1);
  }
  .product-question__more {
    margin-top: 27px;
  }

  .brand-review {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    position: relative;
    margin-left: 0;
    padding: 24px 20px;
  }
  .brand-review-full {
    display: none;
  }
  .brand-review__title {
    width: 284px;
    font-size: 20px;
    letter-spacing: -0.2px;
  }
  .brand-review__grade {
    position: absolute;
    top: 30px;
    right: 32px;
  }
  .brand-review__rating {
    font-size: 80px;
    letter-spacing: -4px;
  }
  .brand-review__count {
    font-size: 21px;
    letter-spacing: -0.211px;
  }
  .brand-review__bottom {
    width: 350px;
    margin-top: 20px;
  }
  .brand-review__button {
    width: 76px;
    padding: 0;
  }

  .selection-slider {
    padding: 0 40px;
  }
  .selection-slider__wrapper {
    justify-content: space-around;
  }
  .selection-slider__item {
    width: 185px;
  }
  .selection-slider__item-img {
    height: 240px;
  }
  .selection-slider__arrow {
    top: 93px;
  }

  .footer {
    padding-top: 40px;
  }
  .footer__newsletter-wrapper {
    margin-top: 32px;
  }
  .footer__newsletter-auth {
    margin-top: 32px;
    width: 430px;
  }
  .footer__newsletter-auth span {
    font-size: 16px;
    letter-spacing: 0;
  }
  .footer__newsletter-auth p {
    margin-top: 12px;
  }
  .footer-logo {
    position: static;
    width: 251.875px;
    height: 31.053px;
  }
  .footer-logo img {
    width: 100%;
    height: 100%;
  }
  .footer-title {
    font-weight: 400;
    width: auto;
  }
  .footer-title br {
    display: none;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .footer__nav {
    justify-content: space-between;
    margin: 32px 0 0;
    padding-top: 32px;
    border-top: 1px solid var(--greyscale-grey-4);
  }
  .footer__column {
    margin-left: 0;
  }
  .footer__social {
    bottom: 0;
  }
}
@media (max-width: 1100px) {
  .cart__title {
    padding: 0 24px;
  }
  .cart__right {
    width: 260px;
  }
  .cart-slider {
    margin-top: 60px;
    padding-bottom: 10px;
  }
  .cart-slider:last-child {
    margin-bottom: 100px;
  }
  .cart-slider__content {
    flex-direction: column;
    margin-top: 22px;
  }
  .cart-slider__arrow {
    display: none;
  }
  .cart-slider__item {
    width: 235px;
    margin-left: 15px;
  }
  .cart-slider__img {
    height: 235px;
  }
  .cart-slider__top {
    margin-top: 10px;
    font-size: 12px;
  }
  .cart-slider__price {
    font-size: 12px;
  }
  .cart-slider__button {
    height: 40px;
    font-size: 17px;
    letter-spacing: -0.17px;
  }
  .cart-slider__points {
    display: flex;
    justify-content: center;
    margin-top: 22px;
  }
  .cart-slider__points_mobile {
    display: none;
  }
  .cart-slider__points-item {
    width: 10px;
    height: 10px;
    margin-left: 13px;
    border-radius: 100px;
    background-color: var(--Neutral-200, #CFCFCF);
  }
  .cart-slider__points-item:first-child {
    margin-left: 0;
  }
  .cart-slider__points-item.is-active {
    background-color: var(--Neutral-400, #898989);
  }
  .cart__sliders {
    padding-bottom: 110px;
  }

  .summary {
    width: 100%;
  }
  .summary__wrapper {
    padding: 0;
    border: none;
    box-shadow: none;
    background: none;
  }
  .summary__line {
    margin-top: 10px;
  }
  .summary__promo {
    margin-top: 10px;
  }
  .summary__total {
    margin-top: 14px;
  }
  .summary__processing {
    margin: 28px 0 18px;
  }
  .summary__button {
    height: 40px;
    font-size: 21px;
    line-height: 115%;
    letter-spacing: -0.21px;
  }
  .summary__button_checkout {
    font-size: 17px;
    letter-spacing: -0.17px;
  }
  .summary__conditions {
    padding: 0;
  }
  .summary__confidentiality {
    margin-top: 22px;
  }

  .checkout__right {
    width: 260px;
    padding-top: 11px;
    margin-left: 42px;
  }
  .checkout__item_error {
    margin-top: 42px;
    padding-top: 68px;
  }
}
@media (max-width: 1023px) {
  .header {
    height: 36px;
  }
  .header__burger {
    background: url("../assets/app_v2/icons/header/burger.svg") center no-repeat;
  }
  .header__search {
    margin-left: 16px;
    background: url("../assets/app_v2/icons/header/user/search.svg");
  }
  .header__cross {
    background: url("../assets/app_v2/icons/header/cross.svg") center no-repeat;
  }
  .header__top {
    display: none;
  }
  .header-title {
    display: none;
  }
  .header__main {
    box-sizing: border-box;
    height: 36px;
    width: 100%;
    padding: 6px 40px 0;
    margin: 0;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
  }
  .header__main-left-desktop {
    display: none;
  }
  .header__main-left-mobile {
    display: flex;
  }
  .header__main-left-item {
    display: none;
    height: 24px;
    width: 24px;
  }
  .header__main-left-item.show {
    display: block;
  }
  .header__main-logo-link {
    width: 146px;
    height: 18px;
    background: url("../assets/app_v2/header/logo-tablet.svg") center no-repeat;
  }
  .header__main-right-nav {
    display: none;
  }
  .header__main-user-link {
    margin-left: 14px;
  }
  .header__main-user-link:first-child {
    display: none;
  }
  .header__main-user-link:nth-child(2) {
    margin-left: 0;
  }
  .header__main-user-link:last-child {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header-menu.show {
    display: block;
  }

  .product__wrapper {
    padding: 0;
    flex-direction: column;
  }
  .product__slider {
    width: 100%;
    height: 492px;
  }
  .product__slider-left, .product__slider-right {
    display: none;
  }
  .product__slider-with {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 101px;
    height: 24px;
    padding: 0 6px 0 8px;
    position: absolute;
    left: 40px;
    bottom: 23px;
    border-radius: 5px;
    background: rgba(16, 16, 16, 0.2);
    backdrop-filter: blur(2px);
    font-size: 12px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.12px;
    color: #fff;
  }
  .product__slider-with-img {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .product__slider-progress {
    display: flex;
    height: 3px;
    background: #CBCBCB;
  }
  .product__slider-progress-item {
    width: 25%;
  }
  .product__slider-progress-item.is-active {
    background: #000;
  }
  .product__jewelry-text {
    font-size: 16px;
    letter-spacing: -0.16px;
  }
  .product__content {
    max-width: 1360px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding-top: 25px;
  }
}
@media (max-width: 1023px) and (max-width: 1399px) {
  .product__content {
    max-width: 1000px;
  }
}
@media (max-width: 1023px) and (max-width: 1023px) {
  .product__content {
    max-width: 664px;
  }
}
@media (max-width: 1023px) and (max-width: 700px) {
  .product__content {
    width: auto;
  }
}
@media (max-width: 1023px) {
  .product__sold {
    font-size: 14px;
  }
  .product__sold-mobile {
    display: block;
    height: auto;
    margin-top: 16px;
  }
  .product__sold-desktop {
    display: none;
  }
}
@media (max-width: 1023px) {
  .product__nav {
    margin-bottom: 16px;
  }
  .product__nav-item {
    font-size: 14px;
    letter-spacing: -0.14px;
  }
  .product__nav-mobile {
    font-family: Circe;
    color: var(--greyscale-black);
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
    display: block;
    height: 22px;
  }
  .product__nav-mobile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 22px;
    position: fixed;
    z-index: 3;
    top: 36px;
    left: 0;
    background: #FFF;
  }
}
@media (max-width: 1023px) {
  .product__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.18px;
    text-transform: uppercase;
  }
}
@media (max-width: 1023px) {
  .product__subtitle-text {
    display: none;
  }
  .product__subtitle-text-mobile {
    display: block;
  }
  .product__subtitle-authentication {
    display: none;
  }
}
@media (max-width: 1023px) {
  .product__only-online {
    display: none;
  }
}
@media (max-width: 1023px) {
  .product__price {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }
  .product__price-wrapper-discount {
    flex-direction: column;
  }
  .product__price-wrapper-discount .product__price-installment {
    margin: 6px 0 0 0;
  }
  .product__price .product__only-online {
    display: flex;
    margin: 0;
  }
}
@media (max-width: 1023px) {
  .product__size-table {
    display: flex;
    font-size: 14px;
    line-height: 110%;
    letter-spacing: -0.14px;
    border: none;
    color: var(--greyscale-black);
  }
  .product__size-table:after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../assets/app_v2/icons/product/arrow-size-mobile.svg") center no-repeat;
  }
}
@media (max-width: 1023px) {
  .product__submit-application-mobile {
    display: block;
  }
}
@media (max-width: 1023px) {
  .product__authentication {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: var(--greyscale-grey-6);
    color: var(--greyscale-black);
  }
  .product__authentication-text {
    flex: 1;
  }
  .product__authentication::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background: url("../assets/app_v2/icons/product/authentication/award-black.svg");
  }
  .product__authentication::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 4px;
    background: url("../assets/app_v2/icons/product/authentication/arrow-right-black.svg") center no-repeat;
  }
}
@media (max-width: 1023px) {
  .product__purchase {
    width: 100%;
    height: 100px;
    z-index: 2;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  .product__purchase-main {
    height: 60px;
  }
  .product__purchase-buy {
    display: none;
    width: calc(100% - 60px);
  }
  .product__purchase-buy-mobile {
    display: flex;
  }
  .product__purchase-buy::before {
    top: 10px;
  }
  .product__purchase-favorite {
    width: 60px;
  }
  .product__purchase-favorite::before {
    top: 15px;
    left: 15px;
  }
  .product__purchase-one-click {
    width: 100%;
  }
}
@media (max-width: 1023px) {
  .product__notice {
    width: 100%;
    padding: 3px 20px;
    position: fixed;
    top: 58px;
    left: 0;
    z-index: 2;
  }
  .product__notice-text-fitting {
    display: none;
  }
  .product__notice_hidden {
    transform: translateY(-100%);
  }
}
@media (max-width: 1023px) {
  .product__info-nav {
    flex-direction: column;
    width: 100%;
  }
  .product__info-nav-item {
    width: 100%;
    padding: 16px 0;
    border-top: 1px solid var(--greyscale-grey-5);
  }
  .product__info-nav-item:first-child {
    padding-top: 0;
    border-top: 0;
  }
  .product__info-nav-item.is-active {
    border-bottom: none;
  }
  .product__info-nav-item.is-active .product__info-nav-title::after {
    background: url("../assets/app_v2/icons/product/info-nav/cross.svg") center no-repeat;
  }
  .product__info-nav-item.is-active .product__info-nav-content {
    display: block;
  }
  .product__info-nav-title {
    display: flex;
    justify-content: space-between;
    height: 27px;
    font-size: 18px;
    line-height: 150%;
  }
  .product__info-nav-title::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url("../assets/app_v2/icons/product/info-nav/plus.svg") center no-repeat;
  }
  .product__info-nav-content {
    margin-top: 16px;
  }
  .product__info-content {
    display: none;
  }
}
@media (max-width: 1023px) {
  .product__about {
    padding-top: 8px;
  }
  .product__about-text {
    width: calc(100% - 79px);
  }
  .product__about-brand {
    margin-left: 24px;
  }
}
@media (max-width: 1023px) {
  .product__details-row {
    width: auto;
    padding-top: 0;
    border-top: none;
  }
  .product__details-item {
    width: 151px;
  }
  .product__details-title {
    font-size: 14px;
    letter-spacing: -0.14px;
  }
  .product__details-text {
    margin-top: 4px;
    font-size: 16px;
    letter-spacing: -0.16px;
  }
}
@media (max-width: 1023px) {
  .product__condition-title {
    line-height: 120%;
  }
  .product__condition-text {
    font-size: 14px;
    letter-spacing: -0.14px;
  }
}
@media (max-width: 1023px) {
  .product__delivery-text {
    font-size: 16px;
    letter-spacing: -0.16px;
  }
  .product__delivery-text p {
    margin-top: 16px;
  }
}
@media (max-width: 1023px) {
  .product__payment-methods {
    margin-top: 16px;
    gap: 20px 32px;
    flex-wrap: wrap;
  }
  .product__payment-item {
    margin-left: 0;
  }
}
@media (max-width: 1023px) {
  .product__refund-text {
    font-size: 16px;
    letter-spacing: -0.16px;
  }
  .product__refund-more {
    margin-top: 16px;
  }
}
@media (max-width: 1023px) {
  .selection-slider {
    max-width: 664px;
    padding: 0;
  }
  .selection-slider__title {
    width: 335px;
  }
  .selection-slider__content {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .selection-slider__wrapper {
    width: 763px;
  }
  .selection-slider__item {
    width: 143px;
    min-height: 272px;
    margin-left: 12px;
  }
  .selection-slider__item:first-child {
    margin-left: 0;
  }
  .selection-slider__item-img {
    height: 190px;
  }
  .selection-slider__item-title {
    margin-top: 8px;
    font-size: 14px;
    line-height: 120%;
  }
  .selection-slider__info {
    align-items: start;
    flex-direction: column-reverse;
    height: auto;
    margin-top: 4px;
  }
  .selection-slider__price {
    margin-top: 4px;
  }
  .selection-slider__arrow {
    display: none;
  }
}
@media (max-width: 1023px) {
  .another-nav {
    padding: 40px 0 44px;
  }
  .another-nav__item {
    margin-top: 12px;
  }
  .another-nav__item:first-child {
    margin-top: 0;
  }
}
@media (max-width: 1023px) {
  .modal__wrapper {
    flex-direction: row-reverse;
  }
  .modal__close {
    margin: 0 0 0 10px;
  }
  .modal-authentication {
    width: 580px;
  }
  .modal-authentication__title-img {
    display: none;
  }
  .modal-authentication__wrapper {
    width: auto;
    align-items: center;
    flex-direction: column;
  }
  .modal-authentication__img {
    margin-top: 28px;
  }
  .modal-clothes {
    width: 580px;
  }
  .modal-clothes__table {
    margin-top: 20px;
  }
  .modal-clothes__table-system {
    height: 58px;
    width: 552px;
    padding-left: 14px;
  }
  .modal-clothes__table-system .modal-clothes__table-item {
    font-size: 14px;
    letter-spacing: -0.14px;
  }
  .modal-clothes__table-row {
    height: 46px;
    width: 552px;
    padding-left: 14px;
  }
  .modal-clothes__table-item {
    width: 48px;
    margin-right: 24px;
    font-size: 12px;
    line-height: 110%;
    letter-spacing: -0.12px;
  }
  .modal-clothes__table-item:last-child {
    margin-right: 0;
  }
  .modal-clothes__table-size {
    height: 46px;
    width: 31px;
    padding: 0 14px 0 20px;
    font-size: 12px;
    border-right: 1px solid var(--greyscale-grey-5, #E6E6E6);
  }
  .modal-clothes__table-size-int {
    height: 58px;
    font-size: 12px;
    letter-spacing: -0.12px;
  }
  .modal-clothes__title {
    margin-left: 20px;
  }
  .modal-clothes__info {
    margin: 40px 20px 0;
  }
  .modal-clothes__info p {
    margin-top: 16px;
  }
  .modal-clothes__info p:first-child {
    margin-top: 0;
  }
}
@media (max-width: 1023px) {
  .cart__wrapper {
    display: block;
    padding: 0 24px;
  }
  .cart__left {
    width: 100%;
  }
  .cart__product-content {
    width: calc(100% - 166px);
  }
  .cart__right {
    width: 100%;
    margin-left: 0;
  }
  .cart-slider__item {
    width: 232px;
  }
  .cart-slider__item.tablet-hide {
    display: none;
  }
  .cart-slider__img {
    height: 232px;
  }
}
@media (max-width: 1023px) {
  .summary {
    padding: 60px 0 112px;
    position: static;
  }
  .summary_cart {
    padding-bottom: 0;
  }
  .summary__title {
    font-size: 21px;
    letter-spacing: -0.21px;
  }
  .summary__total {
    margin-top: 14px;
  }
  .summary__total_cart {
    font-size: 21px;
    letter-spacing: -0.21px;
  }
  .summary__del-cost {
    margin: 10px 0 18px;
  }
  .summary__conditions {
    padding: 0;
  }
}
@media (max-width: 1023px) {
  .checkout {
    flex-direction: column;
    padding: 0 24px;
  }
  .checkout__item:last-child {
    padding-bottom: 0;
  }
  .checkout__item_error {
    padding-bottom: 0;
  }
  .checkout__left {
    width: 100%;
    margin-bottom: 0;
  }
  .checkout__right {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 749px) {
  .cart__wrapper {
    padding: 0 14px;
  }
  .cart__back {
    position: static;
    margin: 0 0 17px 0;
  }
  .cart__back-text {
    font-size: 16px;
    letter-spacing: -0.08px;
  }
  .cart__title {
    padding: 0 15px;
    margin: 8px 0 17px;
    font-size: 24px;
    line-height: 115%;
    letter-spacing: -0.24px;
  }
  .cart__title-small {
    font-size: 21px;
    letter-spacing: -0.21px;
  }
  .cart__product-img {
    width: 102px;
    height: 102px;
  }
  .cart__product-content {
    width: calc(100% - 112px);
    height: auto;
    margin-left: 10px;
    position: relative;
  }
  .cart__product-desc {
    flex-direction: column;
    height: 104px;
  }
  .cart__product-desc-right {
    display: flex;
    align-items: flex-end;
    text-align: left;
  }
  .cart__product-price-old {
    margin-left: 6px;
    font-size: 13px;
    line-height: 135%;
    letter-spacing: -0.065px;
  }
  .cart__product-actions {
    position: absolute;
    top: 81px;
    right: 0;
  }
  .cart__product-favorite-text {
    display: none;
  }
  .cart__product-bottom {
    margin-top: 7px;
  }
  .cart-slider {
    margin-top: 66px;
  }
  .cart-slider__content {
    margin-top: 12px;
  }
  .cart-slider__points {
    margin-top: 18px;
  }
  .cart-slider__points_mobile {
    display: flex;
  }
  .cart-slider__points-item {
    width: 8px;
    height: 8px;
    margin-left: 13px;
  }
  .cart-slider__item {
    width: 168px;
    margin-left: 10px;
  }
  .cart-slider__img {
    height: 168px;
  }
  .cart-slider__img-fitting {
    right: 18px;
  }
  .cart-slider__top {
    margin-top: 9px;
    font-size: 11px;
    letter-spacing: -0.11px;
  }
  .cart-slider__price {
    font-size: 11px;
    letter-spacing: -0.11px;
  }
  .cart-slider__price-old::after {
    margin: 0 2px;
    position: relative;
    top: -1px;
    font-size: 11px;
    letter-spacing: -0.11px;
  }
  .cart-slider__price__not-used {
    margin-left: 5px;
    font-size: 8px;
    letter-spacing: -0.02px;
  }
  .cart-slider__button {
    margin-top: 10px;
  }
  .cart__sliders {
    padding-bottom: 86px;
  }

  .checkout {
    padding: 0 14px;
  }
  .checkout__item {
    margin-top: 50px;
    padding-bottom: 0;
  }
  .checkout__item_error {
    padding-top: 40px;
  }
  .checkout__number {
    width: 30px;
    height: 28px;
    font-size: 21px;
    letter-spacing: -0.21px;
  }
  .checkout__title {
    font-size: 21px;
    letter-spacing: -0.21px;
  }
  .checkout__form-delivery-cost {
    width: 90px;
  }
  .checkout__form-delivery-cost span {
    font-size: 28px;
    letter-spacing: -0.28px;
  }
  .checkout__form-delivery-order {
    width: calc(100% - 103px);
  }
  .checkout__form-pickup-address {
    height: 250px;
  }
  .checkout__payment {
    flex-direction: column;
    margin-top: 20px;
  }
  .checkout__payment-item {
    width: 100%;
    height: auto;
    margin: 14px 0 0;
    position: relative;
  }
  .checkout__payment-item:first-child {
    margin-top: 0;
  }
  .checkout__payment-subtitle {
    margin-top: 3px;
  }
  .checkout__payment-text {
    margin-top: 13px;
  }
  .checkout__payment-img {
    margin-top: 0;
    position: absolute;
    top: 14px;
    right: 13px;
  }
  .checkout__remaining-wrapper {
    flex-direction: column;
  }
  .checkout__remaining-item {
    width: 100%;
    height: 70px;
    margin: 14px 0 0;
  }
  .checkout__sorry {
    margin-bottom: 50px;
  }
  .checkout__sorry-title {
    font-size: 24px;
    line-height: 115%;
    letter-spacing: -0.06px;
  }
  .checkout__sorry-title br {
    display: block;
  }
  .checkout__sorry-subtitle {
    margin-top: 12px;
  }

  .summary {
    padding: 50px 0 72px;
  }
  .summary_cart {
    padding-bottom: 0;
  }
  .summary__processing {
    margin: 24px 0 18px;
  }
  .summary__processing p {
    display: block;
    margin-top: 4px;
  }
  .summary__processing-link {
    display: inline;
  }
}
@media (max-width: 700px) {
  .footer {
    padding: 40px 20px 60px;
  }
  .footer__nav {
    flex-direction: column;
    margin-top: 0;
    padding-top: 0;
    border-top: none;
  }
  .footer__nav-title_top {
    margin-top: 0;
  }
  .footer__column {
    width: 100%;
    display: flex;
    margin-top: 32px;
    padding-top: 32px;
    border-top: 1px solid var(--greyscale-grey-4);
  }
  .footer__column-item {
    width: 151px;
    margin-left: 32px;
  }
  .footer__column-item:first-child {
    margin-left: 0;
  }
  .footer__column-item_down {
    margin-top: 0;
  }
  .footer__column-item-showroom {
    width: 100%;
  }
  .footer__column-item-showroom br {
    display: none;
  }
  .footer__column-connection {
    font-size: 14px;
    letter-spacing: -0.14px;
    flex-direction: row-reverse;
    justify-content: start;
  }
  .footer__column-connection .footer__nav-title {
    font-size: 16px;
  }
  .footer__column-connection .footer__column-item {
    margin-left: 0;
  }
  .footer__column-connection .footer__column-item:first-child {
    margin-left: 32px;
  }
  .footer__column-address {
    order: -1;
    flex-wrap: wrap;
    position: relative;
  }
  .footer__column-navigation {
    margin-top: 67px;
  }
  .footer__column-work-time {
    margin-left: 0;
  }
  .footer__social {
    margin-top: 40px;
    position: static;
  }
  .footer-address-link {
    margin-top: 0;
    position: relative;
    bottom: -95px;
  }

  .header {
    height: 32px;
  }
  .header__search {
    margin-left: 8px;
  }
  .header__main {
    height: 32px;
    padding: 6px 19px 0;
  }
  .header__main-user {
    margin-left: 0;
  }
  .header__main-user-link {
    margin-left: 12px;
  }

  .header-menu {
    top: 32px;
  }
  .header-menu__wrapper {
    padding: 0 20px;
  }
  .header-menu__showroom {
    flex-direction: column;
  }
  .header-menu__showroom-item {
    margin: 16px 0 0;
  }
  .header-menu__showroom-item-address {
    margin-top: 0;
    width: 100%;
  }
  .header-menu__contacts {
    flex-direction: column;
  }
  .header-menu__contacts-item {
    margin: 33px 0 0;
  }
  .header-menu__contacts-item:first-child {
    margin-top: 0;
  }
  .header-menu__auth {
    height: 67px;
    padding: 0 20px;
  }

  .product__content {
    box-sizing: border-box;
    padding: 12px 20px 0;
    width: 100%;
    height: auto;
  }
  .product__slider {
    display: flex;
    justify-content: center;
    height: 447px;
    width: auto;
    padding: 0 12px;
  }
  .product__slider-wrapper {
    width: auto;
  }
  .product__slider-img {
    width: auto;
  }
  .product__slider-img:first-child {
    display: none;
  }
  .product__slider-with {
    left: 9px;
    bottom: 20px;
  }
  .product__slider-progress {
    box-sizing: border-box;
    height: 2px;
    width: 100%;
    padding: 0 8px;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 8px;
    background: none;
  }
  .product__slider-progress-item {
    opacity: 0.2;
    background: var(--greyscale-black);
    margin-left: 2px;
  }
  .product__slider-progress-item:first-child {
    margin-left: 0;
  }
  .product__slider-progress-item.is-active {
    opacity: 1;
  }
  .product__slider-progress-item-mobile {
    display: block;
  }
  .product__nav {
    display: none;
  }
  .product__title {
    height: 15px;
    font-size: 14px;
    letter-spacing: -0.14px;
  }
  .product__subtitle {
    height: 15px;
    margin-top: 0;
  }
  .product__price {
    margin-top: 6px;
  }
  .product__about-text {
    font-size: 16px;
  }
  .product__authentication-text {
    display: none;
  }
  .product__authentication-text-mobile {
    flex: 1;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.14px;
    text-transform: lowercase;
  }
  .product__nav-mobile-wrapper {
    top: 32px;
  }
  .product__notice {
    top: 52px;
  }
  .product__notice-title {
    font-size: 11px;
    letter-spacing: -0.11px;
  }
  .product-bottom {
    padding: 0 20px;
  }
  .product-question {
    padding-bottom: 67px;
    position: relative;
  }
  .product-question__top-button {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .brand-review {
    box-sizing: border-box;
    max-width: 335px;
    margin: 0 auto;
    padding: 24px 20px 28px;
  }
  .brand-review__top {
    flex-direction: column-reverse;
    align-items: center;
  }
  .brand-review__grade {
    position: static;
  }
  .brand-review__rating {
    font-size: 70px;
    line-height: 100%;
    letter-spacing: -3.5px;
  }
  .brand-review__count {
    display: none;
    margin-top: -8px;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: -0.16px;
  }
  .brand-review__count-mobile {
    display: block;
  }
  .brand-review__title {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  .brand-review__bottom {
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
  }
  .brand-review__button {
    height: 19px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    color: var(--primary-orange);
  }

  .selection-slider {
    padding: 0 20px;
  }

  .modal__wrapper {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  .modal__close {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 10;
    top: 8px;
    right: 15px;
    margin-left: 0;
  }
  .modal__close-cross {
    width: 40px;
    height: 40px;
  }
  .modal__content {
    border-radius: 0;
    width: 100%;
    min-height: 100vh;
    padding: 56px 20px 70px;
  }
  .modal__title-one-click br {
    display: block;
  }
  .modal__title-brand {
    margin: 0 20px;
  }
  .modal__subtitle {
    margin-top: 16px;
  }
  .modal__subtitle-link {
    margin: 0 20px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: normal;
    color: var(--greyscale-black);
  }
  .modal__brand {
    padding: 56px 0 0;
  }
  .modal__brand-img {
    width: 335px;
    height: 335px;
  }
  .modal__form {
    margin-top: 24px;
  }
  .modal__input {
    margin-top: 12px;
  }
  .modal__input input {
    height: 60px;
    padding: 16px 26px;
    font-size: 18px;
    line-height: 150%;
  }
  .modal__input:first-child {
    margin-top: 0;
  }
  .modal__textarea textarea {
    height: 207px;
    padding: 20px 26px;
    font-size: 18px;
    line-height: 150%;
  }
  .modal__conditions {
    margin-top: 24px;
  }
  .modal__button {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  .modal__button button {
    padding: 15px 24px;
  }
  .modal__button::before {
    right: 24px;
  }
  .modal-authentication {
    width: 100%;
    border-radius: 0;
  }
  .modal-authentication__title {
    height: auto;
    margin-top: 56px;
    padding: 0 20px 0;
    border-bottom: 0;
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.8px;
  }
  .modal-authentication__subtitle {
    display: block;
    margin-top: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.16px;
  }
  .modal-authentication__img {
    margin: 28px auto 0;
  }
  .modal-installment {
    padding: 0 0 35px 0;
  }
  .modal-installment__logo {
    border-bottom: none;
  }
  .modal-installment__title {
    margin-top: 0;
  }
  .modal-installment__wrapper {
    padding: 0 20px;
    margin-top: 24px;
    border-top: none;
  }
  .modal-clothes {
    width: 100%;
    min-height: 100vh;
    padding: 57px 0 64px;
    border-radius: 0;
  }
  .modal-clothes__table {
    justify-content: center;
  }
  .modal-shoes {
    width: 100%;
    height: 100vh;
    padding: 0;
    border-radius: 0;
  }
  .modal-shoes__title {
    margin: 56px 0 0 34px;
  }
  .modal-shoes__system {
    margin-top: 20px;
  }
  .modal-shoes__scroll {
    height: calc(100% - 190px);
    padding-bottom: 72px;
  }
  .modal-shoes__table-size {
    margin: 0 38px 0 20px;
  }
  .modal-shoes__table-item {
    margin-right: 24px;
  }
  .modal-shoes__table-item-length {
    width: 80px;
  }
  .modal-shoes__info {
    margin: 40px 17px 0 20px;
  }

  .transition {
    padding: 0 15px;
  }
  .transition__title {
    font-size: 24px;
    letter-spacing: -0.06px;
  }
}
@media (max-width: 680px) {
  .modal-photos__img {
    max-width: auto;
    height: 600px;
  }

  .footer__newsletter-auth {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .cart-slider__item.mobile-hide {
    display: none;
  }
}
@media (max-width: 424px) {
  .footer__column-item-showroom {
    width: 240px;
  }
  .footer__column-connection .footer__column-item {
    font-size: 14px;
    letter-spacing: -0.14px;
  }

  .header__main-logo {
    width: 130px;
    height: 16px;
  }
  .header__main-logo-link {
    width: 130px;
    height: 16px;
    background: url("../assets/app_v2/header/logo-mobile.svg") center no-repeat;
  }

  .header-menu__showroom-item-time {
    width: 313px;
  }

  .selection-slider__title {
    width: 280px;
  }

  .another-nav {
    padding: 56px 20px 128px;
    text-align: left;
  }
  .another-nav__item {
    margin-top: 16px;
  }
  .another-nav__item:first-child {
    margin-top: 0;
  }

  .modal-photos__img {
    height: 499px;
  }
  .modal__conditions {
    line-height: 24px;
  }
  .modal__conditions br {
    display: block;
  }
  .modal-authentication__title {
    text-align: left;
  }
  .modal-authentication__subtitle {
    padding: 0 20px;
    text-align: left;
  }
  .modal-authentication__wrapper {
    align-items: start;
  }
  .modal-authentication__img {
    width: calc(100% - 40px);
    margin: 28px 20px 0;
  }
  .modal-authentication__grade-img {
    width: 100%;
  }
  .modal-authentication__situations-img {
    width: 100%;
  }
  .modal-authentication__content {
    padding: 0 21px;
  }
  .modal-installment__logo {
    height: 32px;
    padding: 12px 0;
  }
  .modal-installment__logo-img {
    width: 125px;
    height: 32px;
  }
  .modal-installment__title {
    width: auto;
    margin: 0 20px 0;
    text-align: left;
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.8px;
  }
  .modal-installment__title br {
    display: block;
  }
  .modal-installment__subtitle {
    margin: 16px 20px 0;
    text-align: left;
  }
  .modal-shoes__system {
    height: 73px;
  }
  .modal-shoes__system .modal-shoes__table-size {
    width: 38px;
    font-size: 12px;
    line-height: 110%;
    letter-spacing: -0.12px;
  }
  .modal-shoes__system .modal-shoes__table-item {
    font-size: 14px;
    line-height: 110%;
    letter-spacing: -0.14px;
    text-transform: none;
  }
  .modal-shoes__table-row {
    height: 46px;
  }
  .modal-shoes__table-size {
    width: 38px;
    font-size: 12px;
    line-height: 150%;
  }
  .modal-shoes__table-item {
    width: 52px;
    font-size: 12px;
    line-height: 110%;
    letter-spacing: -0.12px;
    text-transform: lowercase;
  }
  .modal-shoes__table-item-length {
    width: 52px;
  }
  .modal-shoes__table-item-us {
    width: 52px;
  }
  .modal-shoes__info {
    font-size: 14px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.14px;
  }
}
@media (max-width: 374px) {
  .modal-shoes__system {
    justify-content: space-between;
  }
  .modal-shoes__table-row {
    justify-content: space-between;
  }
  .modal-shoes__table-item {
    margin-right: 0;
  }
  .modal-shoes__table-size {
    margin-right: 0;
  }
  .modal-authentication__check-img {
    width: 150px;
    height: 150px;
  }

  .footer__column {
    justify-content: space-between;
  }
  .footer__column-item {
    margin-left: 0;
  }

  .checkout__selection-item {
    padding: 0 5px;
    font-size: 14px;
  }
  .checkout__sorry {
    width: 100%;
  }
  .checkout__sorry-title br {
    display: block;
  }
  .checkout__sorry-subtitle {
    width: 100%;
  }

  .cart-slider__item {
    width: 150px;
    position: relative;
    margin-left: 6px;
  }
  .cart-slider__img {
    height: 150px;
  }
  .cart-slider__size {
    display: flex;
    justify-content: flex-end;
    width: 55px;
  }
  .cart-slider__price-old::after {
    margin: 0 4px;
  }
  .cart-slider__price-not-used {
    margin-left: 0;
    position: absolute;
    top: 9px;
    right: 9px;
  }
}
@media (max-width: 350px) {
  .header-menu__showroom-item-time {
    width: 100%;
  }
  .header-menu__contacts-item {
    width: auto;
  }

  .product__details {
    justify-content: space-between;
  }
  .product__details-item {
    width: 140px;
    margin-left: 0;
  }

  .modal__conditions br {
    display: none;
  }
  .modal__selection-item {
    margin-left: 10px;
  }
  .modal__brand-img {
    width: 310px;
    height: 310px;
  }
  .modal-authentication__check-img {
    width: 139px;
    height: 139px;
  }

  .footer__selection-item {
    margin-left: 12px;
  }
  .footer__column-item {
    width: 140px;
  }
  .footer__column-item-showroom {
    width: 100%;
  }

  .checkout__selection-item {
    font-size: 13px;
  }

  .cart__product-desc-right {
    flex-direction: column;
    align-items: flex-start;
  }
  .cart__product-price-old {
    margin-left: 0;
  }
}